# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      # Setup emacs
      - name: Set up Emacs
        uses: purcell/setup-emacs@v3.0
        with:
          version: 27.2
        
      - name: Compile org to tex
        run: |
           emacs -Q --batch -nw Chapters/outline-anyons.org --eval "(progn 
           (setq org-export-with-broken-links t) 
           (require 'org) 
           (require 'ox-latex) 
           (org-export-to-file 'latex \"III. Anyons.tex\"))"

      # Do latex
      - name: Github Action for LaTeX
        uses: xu-cheng/latex-action@v2
        with:
          root_file: "Chapters/III. Anyons.tex"


      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
